<div class="deck-overlay" id="deck-overlay">
  <div class="cover">
    <video id="video-cover" autoplay loop muted>
      <source src="../assets/Low.mp4"></source>
    </video>
  </div>

  <!-- TODO: mimic this positioning
    https://www.nytimes.com/interactive/2019/09/14/world/europe/notre-dame-fire-lead.html
  -->

  <div class="step-deck" id="step-deck" style="letter-spacing: 0.5px">
    <each loop="step in dek">
      <div class="video-step">
        <p>{{{ step.value }}}</p>
      </div>
    </each>
  </div>
</div>
