<div id="navbar" class="only-logo">
  <div class="logo-container">
    <div id="logo">
      <a href="https://www.columbiaspectator.com/eye">
        <img id="eye-logo" src="https://spectator-static-assets.s3.amazonaws.com/eye-logo-black.png" />
      </a>

      <p id="nav-section-name">FILL SECTION NAME</p>
    </div>
    <div class="hamburger-container">
      <button onclick="script.hamburgerTrigger()" class="hamburger-btn">
        <div class="hamburger"></div>
      </button>
    </div>
  </div>
  <div id="nav-links">
    <each loop="item in [
      {
        name: 'Part 1: ' + sectionhed1,
        id: 'nav-link-1',
        link: PART1_LINK,
      },
      {
        name: 'Part 2: ' + sectionhed2,
        id: 'nav-link-2',
        link: PART2_LINK,
      },
      {
        name: 'Part 3: ' + sectionhed3,
        id: 'nav-link-3',
        link: PART3_LINK,
      },
    ]">
      <div class="nav-link" id="{{ item.id }}">          
        <a href="{{ item.link }}">{{ item.name }}</a>
      </div>
    </each>
  </div>
</div>
